@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --primary-dark-blue-1: hsl(217, 28%, 15%);
  --primary-dark-blue-2: hsl(218, 28%, 13%);
  --primary-dark-blue-3: hsl(216, 53%, 9%);
  --primary-dark-blue-4: hsl(219, 30%, 18%);

  --accent-cyan: hsl(176, 68%, 64%);
  --accent-blue: hsl(198, 60%, 50%);
  --accent-light-red: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);

  --body-font-size: 1.4rem;
  --font-family-heading: "Raleway", sans-serif;
  --font-family-body: "Open Sans", sans-serif;

  --weight-light: 400;
  --weight-bold: 700;

  --screen-desktop: 1440px;
  --screen-mobile: 375px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
  text-decoration: none;
  color: var(--neutral-white);
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-body);
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--primary-dark-blue-2);
  font-size: var(--body-font-size);
}

img {
  width: 100%;
}

button,
a.btn {
  outline: none;
  border: none;
  padding: 1.3rem 2.5rem;
  cursor: pointer;
  background: linear-gradient(180deg, var(--accent-blue), var(--accent-cyan));
  border-radius: 5rem;
  width: 100%;
}
section,
footer .contents {
  width: 100%;
  max-width: 80%;
  margin: 3rem auto;
}
section .contents > *:not(section .contents:last-child) {
  margin-bottom: 2rem;
}
section > *:not(section:last-child) {
  margin-bottom: 2.5rem;
}
header {
  background-image: url("assets/bg-curvy-desktop.svg");
  background-color: var(--primary-dark-blue-1);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 155% 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-heading);
}

.top {
  width: 100%;
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 8rem;
}

nav > * {
  margin: 0.7rem;
}
nav a:hover {
  text-decoration: underline;
}
header section {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  line-height: 1.4;
}

header section .contents h2 {
  font-weight: var(--weight-bold);
}

header section .contents button {
  width: 80%;
}

section.features {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.8rem;
  font-family: var(--font-family-heading);
  line-height: 1.4;
}

section .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 30rem;
}

section .feature .icon {
  margin-bottom: 1.3rem;
  width: 6rem;
}

section .feature .contents h2 {
  font-size: 1.7rem;
}
section.productive {
  display: flex;
  flex-direction: column;
}
section.productive a {
  position: relative;
  display: flex;
  align-items: center;
  max-width: max-content;
}
section.productive a::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--accent-cyan);
}
section.productive a * {
  color: var(--accent-cyan);
}

section.productive a :last-child {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

section.testimonials {
  margin: 10rem auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.3rem;
  font-family: var(--font-family-heading);
  line-height: 1.4;
}
section .testimonial {
  background-color: var(--primary-dark-blue-4);
  border-radius: 0.5rem;
  padding: 1.8rem;
  position: relative;
}

section .testimonial .qt {
  position: absolute;
  top: -2rem;
  left: 0.8rem;
  width: 2.5rem;
}
section .testimonial p {
  margin-bottom: 2rem;
  line-height: 1.5;
}
section .testimonial .by {
  display: flex;
  align-items: center;
}
section .testimonial .by .details {
  margin-left: 1.2rem;
}
section .testimonial .by .details span {
  font-size: 1rem;
}
section .testimonial .image {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
}
section .testimonial .image img {
  object-fit: cover;
}

section.access {
  margin-bottom: -12rem;
  background-color: var(--primary-dark-blue-1);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 2;
  position: relative;
  line-height: 1.5;
}

input[type="email"] {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  padding: 1.5rem;
}

footer {
  z-index: 1;
  background-color: var(--primary-dark-blue-3);
  padding-top: 20rem;
  padding-bottom: 3rem;
}

footer .contents .logo {
  width: 20rem;
  margin-bottom: 3rem;
}

footer .contents .items {
  display: flex;
  flex-direction: column;
}

footer .contents .items > * {
  margin-bottom: 2rem;
}

footer .contents .items .contact {
  display: flex;
  align-items: center;
}

footer .contents .items .contact.contact:first-child {
  align-items: flex-start;
}

footer .contents .items .contact ion-icon {
  flex-shrink: 0;
}
footer .contents .items .contact > *:last-child {
  margin-left: 1.4rem;
}

footer .contents .items .contact.links {
  margin-top: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

footer .contents .items .contact.links.f {
  margin-top: 5rem;
}

footer .contents .items .contact.links > *:last-child,
footer .contents .items .contact.icons > *:last-child {
  margin-left: 0;
}
footer .contents .items .contact.links > * {
  margin-bottom: 1.2rem;
}

footer .contents .items .contact.icons {
  align-items: center;
  justify-content: center;
}
footer .contents .items .contact.icons > * {
  margin-right: 1.5rem;
  border: 1px solid var(--neutral-white);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
}

@media screen and (min-width: 768px) {
  header section {
    max-width: 55rem;
  }
  footer .contents {
    max-width: 90%;
  }
  section {
    max-width: 70%;
  }
  section.features {
    gap: 3rem;
    max-width: 65rem;
  }
  section.testimonials,
  section.productive {
    max-width: 80%;
  }
  section.productive {
    flex-direction: row;
    align-items: center;
  }
  section.productive > *:first-child {
    margin-right: 2.5rem;
  }

  section.access {
    margin-bottom: -9rem;
  }
  footer {
    padding-top: 12rem;
    padding-bottom: 1rem;
  }
  footer .contents .items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
  }
  footer .contents .items > * {
    margin-bottom: 0;
    margin-right: 2rem;
    flex-shrink: 0;
    flex-basis: 10rem;
  }
  footer .contents .items > *:first-child {
    flex-basis: 25rem;
  }
  footer .contents .items .contact.links {
    margin-top: 0;
  }
  footer .contents .items .contact.links.f {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  section.access {
    max-width: 60%;
  }
  form {
    display: flex;
    align-items: center;
  }
  input[type="email"] {
    width: 70%;
    margin-right: 1.6rem;
    margin-bottom: 0;
    flex-shrink: 0;
  }
  footer .contents {
    max-width: 85%;
  }
  header {
    background-size: 140% 65%;
  }
  footer .contents .items > * {
    flex-basis: 10rem;
  }
  footer .contents .items > *:first-child {
    flex-basis: 30rem;
  }
}
@media screen and (min-width: 1440px) {
  header {
    background-size: 120% 35%;
  }
  footer .contents .items > * {
    flex-basis: 15rem;
  }
  footer .contents .items > *:first-child {
    flex-basis: 40rem;
  }
}
